:root {
  --road-color: #4d4c48;
  --car-box-shadow-color: rgba(0, 0, 0, 0.5);
}

body {
    position: fixed;
    width: 350px;
    margin: 15% auto; 
    left: 0;
    right: 0;
    background-color: #f4f0d8;
}

/* GROUND, ROADS, & PARK */

.ground {
    position: absolute;
    display: block;
    background-color: #D2D1CD;
    width: 350px;
    height: 350px;
    transform: rotateZ(45deg);
}

.park {
    position: absolute;
    display: block;
    width: 175px;
    height: 100px;
    top: 35%;
    left: 25%;
    background-color: #59A608;
}
.shadowbox-1 {
    position: absolute;
    display: block;
    background-color: #adaca8;
    width: 15px;
    height: 350px;
    top: 5px;
    right: -10px;
    transform: skewY(45deg);
  }
  .shadowbox-2 {
    position: absolute;
    display: block;
    background-color: #c5c3ba;
    width: 350px;
    height: 15px;
    top: 350px;
    right: -5px;
    transform: skewX(45deg);
  }
.road-1 {
    position: absolute;
    display: block;
    background-color: var(--road-color);
    width: 345px;
    height: 25px;
    top: 90px;
    right: 5px;
    z-index: -999;
}
.road-2 {
    position: absolute;
    display: block;
    background-color: var(--road-color);
    width: 345px;
    height: 25px;
    top: 230px;
    right: 5px;
    z-index: -999;
}
.road-3 {
    position: absolute;
    display: block;
    background-color: var(--road-color);
    width: 25px;
    height: 350px;
    top: 0;
    right: 55px;
    z-index: -999;
}
.road-4 {
    position: absolute;
    display: block;
    background-color: var(--road-color);
    width: 25px;
    height: 350px;
    top: 0;
    right: 270px;
    z-index: -999;
}

.park-path-1 {
    position: absolute;
    display: block;
    background-color: #D2D1CD;
    width: 175px;
    height: 5px;
    top: calc(50% - 2.5px);
    right: 0;
    z-index: 2;
}

.park-path-2 {
    position: absolute;
    display: block;
    background-color: #D2D1CD;
    width: 5px;
    height: 100px;
    top: 0;
    right: calc(50% - 2.5px);
    z-index: 2;
}

.park-circle {
    position: absolute;
    display: block;
    background-color: #D2D1CD;
    width: 35px;
    height: 35px;
    top: calc(50% - 17.5px);
    left: calc(50% - 17.5px);
    border-radius: 50px;
}

.road-1-dividers, .road-2-dividers {
    position: absolute;
    display: block;
    border-color: #F7B500;
    border-width: 1px;
    border-style: dashed;
    width: 340px;
    height: 0;
    top: calc(50% - .5px);
    z-index: 1;
}

.road-3-dividers, .road-4-dividers {
    position: absolute;
    display: block;
    border-color: #F7B500;
    border-width: 1px;
    border-style: dashed;
    width: 0;
    height: 340px;
    left: calc(50% - .5px);
    z-index: 1;
}

.crosswalk {
    position: absolute;
    display: block;
    background-color: var(--road-color);
    width: 25px;
    height: 25px;
    z-index: 2;
}
.crosswalk.north {
    top: 90px;
    left: 55px;
}

.crosswalk.east {
    top: 90px;
    left: 270px;
}

.crosswalk.west {
    top: 230px;
    left: 0;
}

.crosswalk.south {
    top: 230px;
    left: 0;
}

.fountain {
    position: absolute;
    display: block;
    background-color: #cac4ae;
    border-radius: 25px;
    width: 25px;
    height: 25px;
    z-index: 1;
    top: calc(50% - 12.5px);
    left: calc(50% - 12.5px);
    z-index: 3;
}

.fountain-water {
    position: absolute;
    display: block;
    background-color: #1b95e0;
    border-radius: 25px;
    width: 21px;
    height: 21px;
    z-index: 1;
    top: calc(50% - 10.5px);
    left: calc(50% - 10.5px);
    z-index: 4;
}

.tree-trunk {
  position: absolute;
  display: block;
  background-color: #351E10;
  border-radius: 2px;
  transform: rotateZ(45deg);
  width: 20px;
  height: 4px;
  box-shadow: -10px -10px 0 0 #351E10,
  10px 10px 0 0 #351E10,
  0 20px 0 0 #351E10,
  -10px 30px 0 0 #351E10,
  -20px 40px 0 0 #351E10,
  -30px 50px 0 0 #351E10;
  z-index: 2;

}

.tree-trunk.one {
    top: 70%;
    left: 85%;
}

.tree-trunk.two {
  top: 15%;
  left: 30%;
}

.leaves {
  position: absolute;
  display: block;
  background-color: #3A5F0B;
  border-radius: 10px;
  width: 67.5px;
  height: 37.5px;
  z-index: 4;
  box-shadow: 1px 1px 0 0 #2a4407,
  2px 2px 0 0 #2a4407,
  3px 3px 0 0 #2a4407,
  4px 4px 0 0 #2a4407,
  5px 5px 0 0 #2a4407,
  6px 6px 0 0 #2a4407;
}

.leaves.one {
    top: 47%;
    left: 51%;
}

.leaves.two {
    top: -8%;
    left: -4%;
}

.dirt-path {
    position:absolute;
    display: block;
    border-color: #74663B;
    border-bottom-left-radius: 50%;
    border-style: solid;
    border-width: 3px;
    width: 75px;
    height: 40px;
    top: 45%;
    left: -178%;
    z-index: 1;
}

/* BUILDING 1 */

.building-1 {
    position: absolute;
    display: block;
    background-color: transparent;
    width: 45px;
    height: 75px;
    top: 3%;
    left: .5%;
    z-index: 998
}

.building-1 .wall-1 {
    position: absolute;
    display: block;
    background-color: #E3963E;
    width: 45px;
    height: 75px;
    top: -5%;
    left: -80%;
    z-index: 998;
    transform: skewX(45deg);
}

.building-1 .wall-2 {
    position: absolute;
    display: block;
    background-color: #ad722e;
    width: 75px;
    height: 55px;
    top: -29%;
    left: -64%;
    z-index: 998;
    transform: skewY(45deg);
}

.building-1 .roof-1 {
    position: absolute;
    display: block;
    background-color: #5a5858;
    width: 36px;
    height: 46px;
    top: -79%;
    left: -165%;
    z-index: 998;
    border: 5px solid #4e4c4c;
}

.building-1 .window-1 {
    position: absolute;
    display: block;
    background-color: black;
    width: 5px;
    height: 7px;
    top: 3px;
    left: 5px; 
    opacity: 0.35;
    box-shadow: 0 10px 0 0 black,
                0 20px 0 0 black,
                0 30px 0 0 black,
                0 40px 0 0 black,
                10px 0px 0 0 black,
                10px 10px 0 0 black,
                10px 20px 0 0 black,
                10px 30px 0 0 black,
                10px 40px 0 0 black,
                20px 0px 0 0 black,
                20px 10px 0 0 black,
                20px 20px 0 0 black,
                20px 30px 0 0 black,
                20px 40px 0 0 black,
                30px 0px 0 0 black,
                30px 10px 0 0 black,
                30px 20px 0 0 black,
                30px 30px 0 0 black,
                30px 40px 0 0 black;
  }

  .building-1 .window-2 {
    position: absolute;
    display: block;
    background-color: black;
    width: 7px;
    height: 5px;
    top: 4px;
    left: 3px; 
    opacity: 0.35;
    box-shadow: 10px 0 0 0 black,
                20px 0 0 0 black,
                30px 0 0 0 black,
                40px 0 0 0 black,
                0 10px 0 0 black,
                10px 10px 0 0 black,
                20px 10px 0 0 black,
                30px 10px 0 0 black,
                40px 10px 0 0 black,
                0 20px 0 0 black,
                10px 20px 0 0 black,
                20px 20px 0 0 black,
                30px 20px 0 0 black,
                40px 20px 0 0 black,
                0 30px 0 0 black,
                10px 30px 0 0 black,
                20px 30px 0 0 black,
                30px 30px 0 0 black,
                40px 30px 0 0 black,
                0 40px 0 0 black,
                10px 40px 0 0 black,
                20px 40px 0 0 black,
                30px 40px 0 0 black,
                40px 40px 0 0 black;
  }

  .roof-1 .roof-box-1 {
    position: absolute;
    display: block;
    background-color: #4e4c4c;
    width: 17px;
    height: 15px;
    top: 22px;
    left: 9px; 
  }

  .roof-1 .shadow-1 {
    position: absolute;
    display: block;
    background-color: #706f6f;
    width: 17px;
    height: 5px;
    top: 37px;
    left: 12px;
    transform: skewX(45deg);
  }

  .roof-1 .shadow-2 {
    position: absolute;
    display: block;
    background-color: #635f5f;
    width: 5px;
    height: 16px;
    top: 24px;
    left: 26px;
    transform: skewY(45deg);
  }

  /* BUILDING 2 */

  .building-2 {
    position: absolute;
    display: block;
    background-color: transparent;
    width: 45px;
    height: 75px;
    top: 43%;
    left: .5%;
    z-index: 998
}

.building-2 .wall-1 {
    position: absolute;
    display: block;
    background-color: #7c6a55;
    width: 45px;
    height: 95px;
    top: -34%;
    left: -100%;
    z-index: 998;
    transform: skewX(45deg);
}

.building-2 .wall-2 {
    position: absolute;
    display: block;
    background-color: #645644;
    width: 95px;
    height: 55px;
    top: -44%;
    left: -106%;
    z-index: 998;
    transform: skewY(45deg);
}

.building-2 .roof-2 {
    position: absolute;
    display: block;
    background-color: #49443f;
    width: 39px;
    height: 49px;
    top: -107%;
    left: -206%;
    z-index: 998;
    border: 3px solid #383532;
}

.building-2 .window-1 {
    position: absolute;
    display: block;
    border-radius: 1px;
    background-color: black;
    width: 5px;
    height: 7px;
    top: 3px;
    left: 5px; 
    opacity: 0.35;
    box-shadow: 0 10px 0 0 black,
                0 20px 0 0 black,
                0 30px 0 0 black,
                0 40px 0 0 black,
                0 50px 0 0 black,
                10px 0px 0 0 black,
                10px 10px 0 0 black,
                10px 20px 0 0 black,
                10px 30px 0 0 black,
                10px 40px 0 0 black,
                10px 50px 0 0 black,
                20px 0px 0 0 black,
                20px 10px 0 0 black,
                20px 20px 0 0 black,
                20px 30px 0 0 black,
                20px 40px 0 0 black,
                20px 50px 0 0 black,
                30px 0px 0 0 black,
                30px 10px 0 0 black,
                30px 20px 0 0 black,
                30px 30px 0 0 black,
                30px 40px 0 0 black,
                30px 50px 0 0 black;
  }

  .building-2 .window-2 {
    position: absolute;
    display: block;
    border-radius: 1px;
    background-color: black;
    width: 7px;
    height: 5px;
    top: 4px;
    left: 3px; 
    opacity: 0.35;
    box-shadow: 10px 0 0 0 black,
                20px 0 0 0 black,
                30px 0 0 0 black,
                40px 0 0 0 black,
                50px 0 0 0 black,
                0 10px 0 0 black,
                10px 10px 0 0 black,
                20px 10px 0 0 black,
                30px 10px 0 0 black,
                40px 10px 0 0 black,
                50px 10px 0 0 black,
                0 20px 0 0 black,
                10px 20px 0 0 black,
                20px 20px 0 0 black,
                30px 20px 0 0 black,
                40px 20px 0 0 black,
                50px 20px 0 0 black,
                0 30px 0 0 black,
                10px 30px 0 0 black,
                20px 30px 0 0 black,
                30px 30px 0 0 black,
                40px 30px 0 0 black,
                50px 30px 0 0 black,
                0 40px 0 0 black,
                10px 40px 0 0 black,
                20px 40px 0 0 black,
                30px 40px 0 0 black,
                40px 40px 0 0 black,
                50px 40px 0 0 black;
  }

  .tower-1 {
    position: absolute;
    display: block;
    background-color: transparent;
    width: 45px;
    height: 75px;
    top: 43%;
    left: -7%;
    z-index: 998
  }

  .tower-1-wall-1 {
    position: absolute;
    display: block;
    background-color: #7c6a55;
    width: 22.5px;
    height: 35px;
    top: -25%;
    left: -12%;
    z-index: 998;
    transform: skewX(45deg);
  }

  .tower-1-wall-2 {
    position: absolute;
    display: block;
    background-color: #645644;
    width: 35px;
    height: 22.5px;
    top: -32%;
    left: 0%;
    z-index: 998;
    transform: skewY(45deg);
  }

  .tower-1-roof {
    position: absolute;
    display: block;
    background-color: #49443f;
    width: 16.5px;
    height: 16.5px;
    top: -55%;
    left: -50%;
    z-index: 999;
    border: 3px solid #383532;
  }

  .tower-1 .tower-window-1 {
    position: absolute;
    display: block;
    border-radius: 1px;
    background-color: black;
    width: 5px;
    height: 7px;
    top: 3px;
    left: 4.5px; 
    opacity: 0.35;
    box-shadow: 0 10px 0 0 black,
                0 20px 0 0 black,
                8px 0 0 0 black,
                8px 10px 0 0 black,
                8px 20px 0 0 black;
  }

  .tower-1 .tower-window-2 {
    position: absolute;
    display: block;
    border-radius: 1px;
    background-color: black;
    width: 7px;
    height: 5px;
    top: 4.5px;
    left: 3px; 
    opacity: 0.35;
    box-shadow: 10px 0px 0 0 black,
                20px 0px 0 0 black,
                0 8px 0 0 black,
                10px 8px 0 0 black,
                20px 8px 0 0 black;
}

.tower-2 {
    position: absolute;
    display: block;
    background-color: transparent;
    width: 45px;
    height: 75px;
    top: 1%;
    left: 5%;
    z-index: 999
  }

.tower-2-wall-1 {
    position: absolute;
    display: block;
    background-color: #7c6a55;
    width: 11px;
    height: 25px;
    top: -68%;
    left: -73%;
    z-index: 999;
    transform: skewX(45deg);
  }

  .tower-2-wall-2 {
    position: absolute;
    display: block;
    background-color: #645644;
    width: 25px;
    height: 11px;
    top: -65%;
    left: -76%;
    z-index: 999;
    transform: skewY(45deg);
  }

  .tower-2-roof {
    position: absolute;
    display: block;
    background-color: #49443f;
    width: 6.5px;
    height: 6.5px;
    top: -81%;
    left: -99%;
    border: 2px solid #383532;
    z-index: 1000;
  }

  .tower-2-decoration-1 {
    position: absolute;
    display: block;
    border-radius: 1px;
    background-color: black;
    width: 3px;
    height: 25px;
    top: 0;
    left: 4px; 
    opacity: 0.35;
  }

  .tower-2-decoration-2 {
    position: absolute;
    display: block;
    border-radius: 1px;
    background-color: black;
    width: 25px;
    height: 3px;
    top: 4px;
    left: 0; 
    opacity: 0.35;
  }

  .tower-3 {
    position: absolute;
    display: block;
    border-radius: 1px;
    background-color: #31302f;
    width: 3px;
    height: 25px;
    top: -79px;
    left: -52px;
    z-index: 1001;
    transform: skewX(45deg);
  }

  .building-2-lot {
    position: absolute;
    display: block;
    background-color: var(--road-color);
    width: 50px;
    height: 35px;
    top: -30px;
    left: -5px;
  }

  .lot-driveway {
    position: absolute;
    display: block;
    background-color: var(--road-color);
    width: 15px;
    height: 15px;
    top: -15px;
    left: 20px;
  }

  .spot {
    position: absolute;
    display: block;
    border-right: 1.5px solid white;
    border-bottom: 1.5px solid white;
    border-left: 1.5px solid white;
    background-color: transparent;
    width: 9px;
    height: 15px;
  }

  .spot.one {
    left: 39px;
    top: 19px;
  }

  .spot.two {
    left: 29px;
    top: 19px;
  }

  .parked-car {
    width: 7px;
    height: 15px;
    box-shadow: 2px 2px 0 0 var(--car-box-shadow-color);
    z-index: 1;
  }

  .parked-car.one {
    background-color: purple;
  }

  .parked-car.two {
    background-color: yellow;
  }
  /* BUILDING 3 */

  /* ANIMATED OBJECTS */

  @keyframes red-car {
    0% {
      opacity: 0;
      top: 92px;
      left: 325px;
    }
    1% {
      opacity: 1;
    }
    20% {
      top: 92px;
      left: 0;
      opacity: 1;
    }
    21% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }

  @keyframes blue-car{
    0% {
      opacity: 0;
      top: 0;
      left: 56px; 
    }
    1% {
      opacity: 1;
    }
    5% {
      top: 70px;
      left: 56px;
    }
    24% {
      top: 70px;
      left: 56px;
    }
    34% {
      top: 214px;
      left: 56px;
    }
    41.5% {
      top: 214px;
      left: 56px;
    }
    48.5% {
      top: 325px;
      left: 56px;
      opacity: 1;
    }
    49% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }

  .car-one {
    animation: red-car 16s ease-in infinite;
    background-color: red;
    position: absolute;
    display: block;
    width: 15px;
    height: 7px;
    top: 86px;
    left: 200px;
    box-shadow: 2px 2px 0 0 var(--car-box-shadow-color);
    z-index: 3;
  }

  .car-two {
    animation: blue-car 22s ease infinite;
    background-color: blue;
    position: absolute;
    display: block;
    width: 7px;
    height: 15px;
    top: 86px;
    left: 200px;
    box-shadow: 2px 2px 0 0 var(--car-box-shadow-color);
    z-index: 3;
  }